* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --primary: #ae00ff;
  --secondary: #fbff00;
  --third: #41EAD4;
  --fourth: #ff206e;
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  overflow-x: hidden;
}



body {
  background-image: url(../medias/background.png);
  background-size: 100%;
  background-repeat: repeat-y;
  overflow-x: hidden;


}

.navbar {
  width: 100%;
  height: 15%;
  font-size: 2vw;
  background-color: #000;
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.navbar-brand {
  color: var(--third);
  font-size: 60px;
  padding-left: 5%;
  transition-property: color;
  transition-duration: 0.3s;
  text-shadow: 2px 2px var(--primary);
  font-family: "Audiowide", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.navbar-brand:hover {
  color: var(--secondary);
}

.navbar-collapse {
  justify-content: flex-end;
  padding-right: 5%;
  z-index: 3;

}

.navbar-nav {
  width: 50%;
  justify-content: space-between;
}

.navbar .nav-link {
  color: var(--third);
  font-style: normal;
}

.navbar .nav-item {
  position: relative;
}

.navbar .nav-item::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--secondary);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.navbar .nav-item:hover::after {
  width: 100%;
}

.logo {
  display: inline-block;
  width: 15vmin;
  transition: opacity 0.3s;

}

.logo-yellow {
  opacity: 0;
  display: inline;
  position: absolute;
}

.navbar-brand:hover .logo-pink {
  opacity: 0;
}

.navbar-brand:hover .logo-yellow {
  opacity: 1;
}



.beginning {
  height: 100%;
  object-fit: cover;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 8vh;


}



.beginning .me {
  -webkit-mask-image: linear-gradient(#000, #000, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(#000, rgb(0, 0, 0) 50%, #000, rgba(0, 0, 0, 0));

}

.beginning .introduction {
  font-size: 2vw;
  z-index: 2;
  color: white;
  display: inline-block;
  position: relative;
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin: 0;

}

.beginning .name {
  font-size: 5vw;
  line-height: 1;
  color: var(--fourth);
  text-decoration: none;
  font-family: "Audiowide", sans-serif;
  font-weight: 500;
  font-style: normal;

}

.name:hover {
  color: var(--secondary);
  transition: 0.3s;

}

@media screen and (max-width: 992px) {
  .beginning .introduction {
    font-size: 3vw;

  }

  .beginning .me {
    width: 100vw;
  }

  .beginning {
    padding: 2vh;


  }

  .hero {
    display: block;
    height: 35vh;
  }




}



@media screen and (min-width: 1400px) {
  .hero .me {
    width: 50vw;
    object-fit: cover;
    object-position: 50% 50%;
  }

  section.objectif {
    padding-top: 0px;
  }

  .hero .introduction {
    width: 50vw;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: 1;

  }
}

@media screen and (max-width: 1400px) {
  .hero .me {
    width: 60%;
    object-fit: cover;
    object-position: 50% 50%;

  }

  .hero .introduction {
    display: block;
    width: 60vw;
  }

  .hero {
    height: 50vh;
  }

}



.objectifText {
  font-size: 40px;
  text-align: center;
  color: white;
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

}

.objectifText a {
  text-decoration: none;
  color: var(--third);
}

.objectifText a:hover {
  text-decoration: none;
  color: var(--secondary);
  transition: .3s;
}




.objectif {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
}


@media screen and (max-width: 992px) {
  .objectif {

    padding: 5vh 0;
  }

  .objectifText {
    font-size: 4vw;

  }

  .contact-title {
    opacity: 0;

  }

  .title-project .project-title {
    font-size: 8vw;
    text-align: center;

  }

}

@media screen and (min-width: 2300px) {
  .objectif {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 50vh;
    padding-bottom: 20vh;
  }
}


.card {
  border-radius: 25px;

}

.card-img-top {
  border-radius: 25px;
  border: var(--third) solid 2px;
  object-fit: cover;
  height: 500px;

  transition: 0.3s;
}

.card-img-top:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px 3px var(--secondary);
}

.project-title {
  text-decoration: underline var(--primary);
}

.portfolio-title {
  font-size: 60px;
  text-shadow: 4px 4px var(--primary);
  font-weight: bold;
  text-align: center;
  color: var(--third);
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

}



@media screen and (max-width: 500px) {
  .portfolio-title {
    font-size: 5vw;
  }



  .mail {
    font-size: 4vw;
  }


  .footer-icons svg {
    height: 10vw;


  }

  .navbar-brand {
    font-size: 10vw;
  }
}




.contact-title {
  font-size: 35px;
  font-weight: bold;
  color: var(--primary);
  text-decoration: underline;

}





footer .py-2 {

  padding-left: 0;
}

footer svg {
  fill: white;
  transition: 0.3s;

}

footer svg:hover {
  fill: var(--secondary);
}

.footer-icons {
  display: flex;

  align-items: center;
  justify-content: space-between;

}

footer {
  color: white;
  background-image: linear-gradient(rgba(199, 0, 0, 0) 10%, var(--fourth));
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin-top: auto;
  padding: 0px;

}

footer .container {
  min-height: 35vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;


}


.project-title {
  margin-top: 10vh;
  color: var(--primary);
  font-size: 60px;
  font-weight: bold;
  font-family: "Audiowide", sans-serif;
}



.card-img-top-video {
  border-radius: 25px;
  border: var(--third) solid 2px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-img-top-art {
  border-radius: 25px;
  border: var(--secondary) solid 2px;
  object-fit: cover;

}

.cardart:hover {
  transform: none;
}

.swiper-section {
  height: 100%;
}

.swiper {
  height: 100%;
  width: 100%;
  padding-bottom: 5vh;

}

.swiper-slide {
  height: 100%;
  object-fit: cover;
  text-align: center;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  background-color: var(--secondary);
  box-shadow: 0px 0px 5px 1px black;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--primary);
  transition: 0.3s;
  transition-property: color;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: var(--secondary);
}

.swiper img {
  height: 70vh;
  border: 3px solid var(--secondary);
  border-radius: 25px;
}



.art-page-title {
  font-weight: bold;
  text-align: center;
  color: var(--primary);
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin: 10vh 0;
  text-decoration: underline;
}


@media screen and (max-width: 992px) {
  .swiper img {
    height: 23vh;
  }

}




@media screen and (max-width: 1400px) {
  .swiper img {
    height: 23vh;
  }

}


.about{
  margin: 5vh;
}
.about-title {
  font-size: 4vw;
  text-shadow: 4px 4px var(--primary);
  font-weight: bold;
  text-align: center;
  color: var(--third);
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;


}